<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>TryScan - 登录</title>

		<!-- Import google fonts - Heading first/ text second -->
        <link rel='stylesheet' type='text/css' href='http://fonts.useso.com/css?family=Open+Sans:400,700|Droid+Sans:400,700' />
        <!--[if lt IE 9]>
        <link href="http://fonts.useso.com/css?family=Open+Sans:400" rel="stylesheet" type="text/css" />
        <link href="http://fonts.useso.com/css?family=Open+Sans:700" rel="stylesheet" type="text/css" />
        <link href="http://fonts.useso.com/css?family=Droid+Sans:400" rel="stylesheet" type="text/css" />
        <link href="http://fonts.useso.com/css?family=Droid+Sans:700" rel="stylesheet" type="text/css" />
        <![endif]-->

		<!-- Favicon and touch icons -->
		<link rel="shortcut icon" href="assets/ico/favicon.ico" type="image/x-icon" />

	    <!-- Css files -->
	    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	    <link href="{{ url_for('static', filename='plugin/layer/skin/layer.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/jquery.mmenu.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
	    <link href="{{ url_for('static', filename='css/style.min.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/add-ons.min.css') }}" rel="stylesheet">
		<style>
			footer {
				display: none;
			}
		</style>

	    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->
	</head>
</head>

<body>
	<div class="container-fluid content">
		<div class="row">
			<div id="content" class="col-sm-12 full">
				<div class="row">
					<div class="login-box">
						<div class="header">TryScan - 登录控制台</div>

						<form class="form-horizontal login" action="index.html" method="post">

							<fieldset class="col-sm-12">
								<div class="form-group">
									<div class="controls row">
										<div class="input-group col-sm-12">
											<input type="text" class="form-control" id="client_id" placeholder="Client_ID"/>
											<span class="input-group-addon"><i class="fa fa-user"></i></span>
										</div>
									</div>
								</div>

								<div class="row">
									<button type="button" class="btn btn-lg btn-primary col-xs-12" id="btn-login">Login</button>
								</div>
							</fieldset>

						</form>

						<div class="clearfix"></div>
					</div>
				</div><!--/row-->
			</div>

		</div><!--/row-->

	</div><!--/container-->


	<!-- start: JavaScript-->
	<!--[if !IE]>-->
    <script src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
	<!--<![endif]-->

	<!--[if IE]>
	<script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
	<![endif]-->

	<!--[if !IE]>-->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}'>"+"<"+"/script>");
		</script>
	<!--<![endif]-->

	<!--[if IE]>
		<script type="text/javascript">
	 	window.jQuery || document.write("<script src='{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}'>"+"<"+"/script>");
		</script>
	<![endif]-->
	<script src="{{ url_for('static', filename='js/jquery-migrate-1.2.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

	<!-- page scripts -->
	<script src="{{ url_for('static', filename='plugin/layer/layer.js') }}"></script>

	<!-- theme scripts -->
	<script src="{{ url_for('static', filename='js/SmoothScroll.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.mmenu.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/core.min.js') }}"></script>

	<!-- inline scripts related to this page -->
	<script src="{{ url_for('static', filename='js/login.js') }}"></script>
	<!-- end: JavaScript-->
</body>
</html>