<div id="usage">
    <ul>
        <li>
            <div class="title">服务器负载</div>
            <div class="bar">
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" id="server_info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 0"></div>
                </div>
            </div>
        </li>
        <li>
            <div class="title"> 进行中的任务</div>
            <div class="bar">
                <div class="progress">
                    <div class="progress-bar progress-bar-warning" id="task_conduct" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 0"></div>
                </div>
            </div>
        </li>
        <li>
            <div class="title"> 完成的任务</div>
            <div class="bar">
                <div class="progress">
                    <div class="progress-bar progress-bar-info" id="task_complete" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 0"></div>
                </div>
            </div>
        </li>
    </ul>
</div>