<div class="navbar" role="navigation">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-actions navbar-left">
            <li class="visible-md visible-lg"><a href="javascript:;" id="main-menu-toggle"><i class="fa fa-th-large"></i></a></li>
            <li class="visible-xs visible-sm"><a href="javascript:;" id="sidebar-menu"><i class="fa fa-navicon"></i></a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown visible-md visible-lg">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">{{ current_user.client_id }}</a>
                <ul class="dropdown-menu">
                    <li class="dropdown-menu-header">
                        <strong>Profile</strong>
                    </li>
                    <li><a href="{{ url_for('profile') }}"><i class="fa fa-user"></i> 个人设置</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ url_for('logout') }}"><i class="fa fa-sign-out"></i> 退出</a></li>
                </ul>
            </li>
            <li><a href="{{ url_for('logout') }}"><i class="fa fa-power-off"></i></a></li>
        </ul>
    </div>
</div>