<div class="row">
    <div class="sidebar ">

        <div class="sidebar-collapse">
            <div class="sidebar-header t-center">
                <span>
                    <div class="sidebar-logo">TryScan</div>
                </span>
            </div>
            <div class="sidebar-menu">
                <ul class="nav nav-sidebar">
                    <li><a href="{{ url_for('index') }}"><i class="fa fa-laptop"></i><span class="text"> 控制台</span></a></li>
                    <li>
                        <a href="#"><i class="fa fa-list-alt"></i><span class="text"> 任务队列</span> <span class="fa fa-angle-down pull-right"></span></a>
                        <ul class="nav sub">
                            <li><a href="{{ url_for('list') }}" title="所有任务"><i class="fa fa-tasks"></i><span class="text"> All tasks</span></a></li>
                            <li><a href="{{ url_for('injection') }}" title="存在注入的任务"><i class="fa fa-bolt"></i><span class="text"> Injection</span></a></li>
                            <li><a href="{{ url_for('complete') }}" title="扫描完成的任务"><i class="fa fa-check"></i><span class="text"> Complete</span></a></li>
                        </ul>
                    </li>
                    <li><a href="{{ url_for('profile') }}"><i class="fa fa-cogs"></i><span class="text"> 个人设置</span></a></li>
                </ul>
            </div>
        </div>

        <div class="sidebar-footer">
            <div class="text-center">
                <i class="fa fa-space-shuttle fa-3x blue"></i>
            </div>

            <ul class="sidebar-terms text-center">
                <li><a href="https://git.oschina.net/ziiber/tryScan" target="_blank" title="TryScan源码">TryScan</a></li>
                <li><a href="https://git.oschina.net/ziiber/TryScanClient" target="_blank" title="Chrome浏览器插件">Tsc</a></li>
                <li><a href="http://ziiber.me" target="_blank" title="关于作者">About</a></li>
            </ul>
        </div>

    </div>
</div>